In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df=pd.read_csv(r'C:\Users\abdullah\projects\Machine_Learning_projects\Forest Cover Type Prediction\End-to-End-Forest-Cover-Type-Prediction-ML-Project\data\train.csv')

In [3]:
df.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,1,2596,51,3,258,0,510,221,232,148,...,0,0,0,0,0,0,0,0,0,5
1,2,2590,56,2,212,-6,390,220,235,151,...,0,0,0,0,0,0,0,0,0,5
2,3,2804,139,9,268,65,3180,234,238,135,...,0,0,0,0,0,0,0,0,0,2
3,4,2785,155,18,242,118,3090,238,238,122,...,0,0,0,0,0,0,0,0,0,2
4,5,2595,45,2,153,-1,391,220,234,150,...,0,0,0,0,0,0,0,0,0,5

In [5]:
df.describe()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
count,15120.00000,15120.000000,15120.000000,15120.000000,15120.000000,15120.000000,15120.000000,15120.000000,15120.000000,15120.000000,...,15120.000000,15120.000000,15120.000000,15120.000000,15120.000000,15120.000000,15120.000000,15120.000000,15120.000000,15120.000000
mean,7560.50000,2749.322553,156.676653,16.501587,227.195701,51.076521,1714.023214,212.704299,218.965608,135.091997,...,0.045635,0.040741,0.001455,0.006746,0.000661,0.002249,0.048148,0.043452,0.030357,4.000000
std,4364.91237,417.678187,110.085801,8.453927,210.075296,61.239406,1325.066358,30.561287,22.801966,45.895189,...,0.208699,0.197696,0.038118,0.081859,0.025710,0.047368,0.214086,0.203880,0.171574,2.000066
min,1.00000,1863.000000,0.000000,0.000000,0.000000,-146.000000,0.000000,0.000000,99.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,3780.75000,2376.000000,65.000000,10.000000,67.000000,5.000000,764.000000,196.000000,207.000000,106.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
50%,7560.50000,2752.000000,126.000000,15.000000,180.000000,32.000000,1316.000000,220.000000,223.000000,138.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000
75%,11340.25000,3104.000000,261.000000,22.000000,330.000000,79.000000,2270.000000,235.000000,235.000000,167.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000
max,15120.00000,3849.000000,360.000000,52.000000,1343.000000,554.000000,6890.000000,254.000000,254.000000,248.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.000000

In [7]:
Wilderness_Area_cols = [col for col in df.columns if 'Wilderness_Area' in col]
Wilderness_Area_cols

['Wilderness_Area1',
 'Wilderness_Area2',
 'Wilderness_Area3',
 'Wilderness_Area4']

In [8]:
Wilderness_Area=df[Wilderness_Area_cols]
Wilderness_Area.head()

   Wilderness_Area1  Wilderness_Area2  Wilderness_Area3  Wilderness_Area4
0                 1                 0                 0                 0
1                 1                 0                 0                 0
2                 1                 0                 0                 0
3                 1                 0                 0                 0
4                 1                 0                 0                 0

In [9]:
df_n = Wilderness_Area.apply(lambda x: x.idxmax(), axis = 1)
df_n.head()

0    Wilderness_Area1
1    Wilderness_Area1
2    Wilderness_Area1
3    Wilderness_Area1
4    Wilderness_Area1
dtype: object

In [10]:
Wilderness_Area=pd.DataFrame(df_n, columns=['Wilderness'])
Wilderness_Area.head()

         Wilderness
0  Wilderness_Area1
1  Wilderness_Area1
2  Wilderness_Area1
3  Wilderness_Area1
4  Wilderness_Area1

In [11]:
Wilderness_Area.Wilderness.value_counts()

Wilderness
Wilderness_Area3    6349
Wilderness_Area4    4675
Wilderness_Area1    3597
Wilderness_Area2     499
Name: count, dtype: int64

In [12]:
Wilderness_Area.Wilderness=Wilderness_Area.Wilderness.map({'Wilderness_Area1':'Area1',
                                                           'Wilderness_Area2':'Area2',
                                                          'Wilderness_Area3':'Area3',
                                                          'Wilderness_Area4':'Area4'})
Wilderness_Area.Wilderness.value_counts()

Wilderness
Area3    6349
Area4    4675
Area1    3597
Area2     499
Name: count, dtype: int64

In [13]:
df=df.drop(['Wilderness_Area1','Wilderness_Area2','Wilderness_Area3','Wilderness_Area4'],axis=1)
df.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,1,2596,51,3,258,0,510,221,232,148,...,0,0,0,0,0,0,0,0,0,5
1,2,2590,56,2,212,-6,390,220,235,151,...,0,0,0,0,0,0,0,0,0,5
2,3,2804,139,9,268,65,3180,234,238,135,...,0,0,0,0,0,0,0,0,0,2
3,4,2785,155,18,242,118,3090,238,238,122,...,0,0,0,0,0,0,0,0,0,2
4,5,2595,45,2,153,-1,391,220,234,150,...,0,0,0,0,0,0,0,0,0,5

In [14]:
df=pd.concat([df, Wilderness_Area], axis=1)
del Wilderness_Area,df_n
df.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type,Wilderness
0,1,2596,51,3,258,0,510,221,232,148,...,0,0,0,0,0,0,0,0,5,Area1
1,2,2590,56,2,212,-6,390,220,235,151,...,0,0,0,0,0,0,0,0,5,Area1
2,3,2804,139,9,268,65,3180,234,238,135,...,0,0,0,0,0,0,0,0,2,Area1
3,4,2785,155,18,242,118,3090,238,238,122,...,0,0,0,0,0,0,0,0,2,Area1
4,5,2595,45,2,153,-1,391,220,234,150,...,0,0,0,0,0,0,0,0,5,Area1

In [15]:
df.columns

Index(['Id', 'Elevation', 'Aspect', 'Slope',
       'Horizontal_Distance_To_Hydrology', 'Vertical_Distance_To_Hydrology',
       'Horizontal_Distance_To_Roadways', 'Hillshade_9am', 'Hillshade_Noon',
       'Hillshade_3pm', 'Horizontal_Distance_To_Fire_Points', 'Soil_Type1',
       'Soil_Type2', 'Soil_Type3', 'Soil_Type4', 'Soil_Type5', 'Soil_Type6',
       'Soil_Type7', 'Soil_Type8', 'Soil_Type9', 'Soil_Type10', 'Soil_Type11',
       'Soil_Type12', 'Soil_Type13', 'Soil_Type14', 'Soil_Type15',
       'Soil_Type16', 'Soil_Type17', 'Soil_Type18', 'Soil_Type19',
       'Soil_Type20', 'Soil_Type21', 'Soil_Type22', 'Soil_Type23',
       'Soil_Type24', 'Soil_Type25', 'Soil_Type26', 'Soil_Type27',
       'Soil_Type28', 'Soil_Type29', 'Soil_Type30', 'Soil_Type31',
       'Soil_Type32', 'Soil_Type33', 'Soil_Type34', 'Soil_Type35',
       'Soil_Type36', 'Soil_Type37', 'Soil_Type38', 'Soil_Type39',
       'Soil_Type40', 'Cover_Type', 'Wilderness'],
      dtype='object')

In [16]:
Soil_Type_cols = [col for col in df.columns if 'Soil_Type' in col]
Soil_Type_cols

['Soil_Type1',
 'Soil_Type2',
 'Soil_Type3',
 'Soil_Type4',
 'Soil_Type5',
 'Soil_Type6',
 'Soil_Type7',
 'Soil_Type8',
 'Soil_Type9',
 'Soil_Type10',
 'Soil_Type11',
 'Soil_Type12',
 'Soil_Type13',
 'Soil_Type14',
 'Soil_Type15',
 'Soil_Type16',
 'Soil_Type17',
 'Soil_Type18',
 'Soil_Type19',
 'Soil_Type20',
 'Soil_Type21',
 'Soil_Type22',
 'Soil_Type23',
 'Soil_Type24',
 'Soil_Type25',
 'Soil_Type26',
 'Soil_Type27',
 'Soil_Type28',
 'Soil_Type29',
 'Soil_Type30',
 'Soil_Type31',
 'Soil_Type32',
 'Soil_Type33',
 'Soil_Type34',
 'Soil_Type35',
 'Soil_Type36',
 'Soil_Type37',
 'Soil_Type38',
 'Soil_Type39',
 'Soil_Type40']

In [17]:
Soil_Type=df[Soil_Type_cols]
Soil_Type.head()

,Soil_Type1,Soil_Type2,Soil_Type3,Soil_Type4,Soil_Type5,Soil_Type6,Soil_Type7,Soil_Type8,Soil_Type9,Soil_Type10,...,Soil_Type31,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
df_n = Soil_Type.apply(lambda x: x.idxmax(), axis = 1)
df_n.head()

0    Soil_Type29
1    Soil_Type29
2    Soil_Type12
3    Soil_Type30
4    Soil_Type29
dtype: object

In [19]:
Soil_Type=pd.DataFrame(df_n, columns=['Soil'])
Soil_Type.head()

          Soil
0  Soil_Type29
1  Soil_Type29
2  Soil_Type12
3  Soil_Type30
4  Soil_Type29

In [20]:
Soil_Type.Soil = Soil_Type.Soil.str.replace('Soil_', '')
Soil_Type.Soil.value_counts()

Soil
Type10    2142
Type29    1291
Type3      962
Type4      843
Type23     757
Type38     728
Type30     725
Type32     690
Type39     657
Type6      650
Type2      623
Type33     616
Type17     612
Type13     476
Type40     459
Type11     406
Type1      355
Type22     345
Type31     332
Type24     257
Type12     227
Type14     169
Type5      165
Type20     139
Type16     114
Type35     102
Type18      60
Type26      54
Type19      46
Type37      34
Type34      22
Type21      16
Type27      15
Type9       10
Type36      10
Type28       9
Type8        1
Type25       1
Name: count, dtype: int64

In [21]:
df=df.drop(Soil_Type_cols,axis=1)
df.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,Cover_Type,Wilderness
0,1,2596,51,3,258,0,510,221,232,148,6279,5,Area1
1,2,2590,56,2,212,-6,390,220,235,151,6225,5,Area1
2,3,2804,139,9,268,65,3180,234,238,135,6121,2,Area1
3,4,2785,155,18,242,118,3090,238,238,122,6211,2,Area1
4,5,2595,45,2,153,-1,391,220,234,150,6172,5,Area1

In [22]:
df=pd.concat([df, Soil_Type], axis=1)
del df_n,Soil_Type
df.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,Cover_Type,Wilderness,Soil
0,1,2596,51,3,258,0,510,221,232,148,6279,5,Area1,Type29
1,2,2590,56,2,212,-6,390,220,235,151,6225,5,Area1,Type29
2,3,2804,139,9,268,65,3180,234,238,135,6121,2,Area1,Type12
3,4,2785,155,18,242,118,3090,238,238,122,6211,2,Area1,Type30
4,5,2595,45,2,153,-1,391,220,234,150,6172,5,Area1,Type29

In [23]:
df['Cover_Type'].value_counts()

Cover_Type
5    2160
2    2160
1    2160
7    2160
3    2160
6    2160
4    2160
Name: count, dtype: int64

In [24]:
df.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,Cover_Type,Wilderness,Soil
0,1,2596,51,3,258,0,510,221,232,148,6279,5,Area1,Type29
1,2,2590,56,2,212,-6,390,220,235,151,6225,5,Area1,Type29
2,3,2804,139,9,268,65,3180,234,238,135,6121,2,Area1,Type12
3,4,2785,155,18,242,118,3090,238,238,122,6211,2,Area1,Type30
4,5,2595,45,2,153,-1,391,220,234,150,6172,5,Area1,Type29

In [25]:
df.shape

(15120, 14)

In [26]:
df['Wilderness'].value_counts()

Wilderness
Area3    6349
Area4    4675
Area1    3597
Area2     499
Name: count, dtype: int64

In [27]:
from sklearn.preprocessing import LabelEncoder

In [28]:
label=LabelEncoder()

In [29]:
df['Wilderness']=label.fit_transform(df['Wilderness'])

In [30]:
df.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,Cover_Type,Wilderness,Soil
0,1,2596,51,3,258,0,510,221,232,148,6279,5,0,Type29
1,2,2590,56,2,212,-6,390,220,235,151,6225,5,0,Type29
2,3,2804,139,9,268,65,3180,234,238,135,6121,2,0,Type12
3,4,2785,155,18,242,118,3090,238,238,122,6211,2,0,Type30
4,5,2595,45,2,153,-1,391,220,234,150,6172,5,0,Type29

In [31]:
df['Soil']=label.fit_transform(df['Soil'])

In [32]:
df.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,Cover_Type,Wilderness,Soil
0,1,2596,51,3,258,0,510,221,232,148,6279,5,0,20
1,2,2590,56,2,212,-6,390,220,235,151,6225,5,0,20
2,3,2804,139,9,268,65,3180,234,238,135,6121,2,0,3
3,4,2785,155,18,242,118,3090,238,238,122,6211,2,0,22
4,5,2595,45,2,153,-1,391,220,234,150,6172,5,0,20

In [33]:
df.shape

(15120, 14)

In [35]:
from sklearn.model_selection import train_test_split
from  sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import ExtraTreesClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.neural_network import MLPClassifier

In [36]:
X = df.drop(["Id","Cover_Type"],axis = 1)
Y = df["Cover_Type"]

In [37]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,random_state = 2474)

In [38]:
from sklearn.preprocessing import StandardScaler

In [39]:
scaler=StandardScaler()

In [40]:
x_trainscal=scaler.fit_transform(x_train)
x_testscal=scaler.transform(x_test)

In [41]:
x_trainscal=pd.DataFrame(x_trainscal,columns=x_train.columns)
x_testscal=pd.DataFrame(x_testscal,columns=x_test.columns)

In [42]:
model1=ExtraTreesClassifier()

In [43]:
model1.fit(x_trainscal,y_train)

ExtraTreesClassifier()

In [44]:
from sklearn import metrics

In [45]:
y_pred=model1.predict(x_testscal)

In [46]:
score=metrics.accuracy_score(y_pred,y_test)

In [47]:
score

0.8796296296296297

In [48]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,random_state = 1463)

In [49]:
from sklearn.preprocessing import StandardScaler

In [50]:
scores = {}
for i in range(2450, 3000):

    x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=i)
    scaler = StandardScaler()
    x_trainscal = scaler.fit_transform(x_train)
    x_testscal = scaler.transform(x_test)
    x_trainscal = pd.DataFrame(x_trainscal, columns=x_train.columns)
    x_testscal = pd.DataFrame(x_testscal, columns=x_test.columns)
    model = ExtraTreesClassifier()
    model.fit(x_trainscal, y_train)
    y_pred = model.predict(x_testscal)
    score = metrics.accuracy_score(y_test, y_pred)
    scores[i] = score

In [51]:
random= max(scores, key=scores.get)

In [52]:
random

2488

In [53]:
scores[random]

0.888558201058201

In [54]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import ExtraTreesClassifier

In [55]:
X_train, X_dev, y_train, y_dev = train_test_split(X, Y, test_size=0.2, random_state=2474)

In [56]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_dev_scaled = scaler.transform(X_dev)

In [57]:
param_grid = {
    'n_estimators': [10, 50, 150],
    'criterion': ['gini', 'entropy'],
    'min_samples_split': [2, 4],
    'max_features': [2, 5, 10, 20, 54]
}

In [58]:
grid_search_ET = GridSearchCV(
    estimator=ExtraTreesClassifier(random_state=0),
    param_grid=param_grid,
    scoring='accuracy',
    cv=5,
    verbose=1,
    n_jobs=-1
)

In [59]:
grid_search_ET.fit(X_train_scaled, y_train)
best_params_ET = grid_search_ET.best_params_
optimal_criterion_ET = best_params_ET['criterion']
optimal_n_estimators_ET = best_params_ET['n_estimators']
optimal_min_samples_split_ET = best_params_ET['min_samples_split']
optimal_max_features_ET = best_params_ET['max_features']

Fitting 5 folds for each of 60 candidates, totalling 300 fits

In [60]:
print(f'The optimal criterion is {optimal_criterion_ET}')
print(f'The optimal number of trees in the forest is {optimal_n_estimators_ET}')
print(f'The optimal minimum number of samples required to split an internal node is {optimal_min_samples_split_ET}')
print(f'The optimal maximum number of features is {optimal_max_features_ET}')

The optimal criterion is entropy
The optimal number of trees in the forest is 150
The optimal minimum number of samples required to split an internal node is 2
The optimal maximum number of features is 10

In [61]:
best_ET = ExtraTreesClassifier(**best_params_ET, random_state=0)
best_ET.fit(X_train_scaled, y_train)
y_dev_pred = best_ET.predict(X_dev_scaled)
accuracy = accuracy_score(y_dev, y_dev_pred)
print(f'Accuracy: {accuracy}')

Accuracy: 0.8941798941798942